<h1>Admin::Dashboard#show</h1>
<%# <p>Find me in app/views/admin/dashboard/show.html.erb</p> %>
<article>
<div>
<span> Product count: <%= @product_count %> </span>
</div>
<div>
<span> Category count: <%= @category_count %> </span>
</div>
</article>