<section class="cart-empty">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <div class="alert alert-danger" role="alert">
  <h4 class ="alert-heading"> Oops! Your cart is empty! </h4>
  <p> You haven't added anything to your cart yet. </p>
  <hr>
  <h3> <a href='/'>Shop Now</a> </h3>

  </div>
</section>