<h1>About#index</h1>
<%# <p>Find me in app/views/about/index.html.erb</p> %>

<p> Happiness is watching your plants grow! </p>
<hr>
<p> Amazon's customer service phone number is <strong>1-888-280-4331</strong>. This number operates 24/7.</p>
<p> Codajás, State of Amazonas, 69450-000, Brazil</p> 
<p> Codajás, AM, 69450-000 </p>
